<div class="home-wrapper">
  <h1 class="home-wrapper__title page-heading">Lincoln District Runners</h1>
  <section class="home-wrapper__intro-section">
    <div class="home-wrapper__intro-summary">
      <p>
        We are a friendly and social group of runners who meet for runs in
        Lincoln and the surrounding areas.
      </p>
      <p>
        We endeavour to make our club runs fun and varied, whilst encouraging
        runners to develop and improve.
      </p>
      <p>
        We also encourage members to lead run and events, and offer substantial
        discounts for members wishing to pursue the
        <a
          class="page-hyperlink"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.uka.org.uk/athletes/club-affiliation-and-registration/"
          >Leadership in Running Fitness (LIRF)</a
        >
        qualifications.
      </p>
    </div>
    <div class="home-wrapper__benefits">
      <ul>
        <li>
          <img src="assets/tick-mark.svg" alt="tick-mark" />
          <p>Weekly structured sessions</p>
        </li>
        <li>
          <img src="assets/tick-mark.svg" alt="tick-mark" />
          <p>Club hosted events</p>
        </li>
        <li>
          <img src="assets/tick-mark.svg" alt="tick-mark" />
          <p>Yearly championship challenges</p>
        </li>
      </ul>
      <ul>
        <li>
          <img src="assets/tick-mark.svg" alt="tick-mark" />
          <p>Regular trips away to the hills</p>
        </li>
        <li>
          <img src="assets/tick-mark.svg" alt="tick-mark" />
          <p>Head-torch runs</p>
        </li>
        <li>
          <img src="assets/tick-mark.svg" alt="tick-mark" />
          <p>Social events</p>
        </li>
      </ul>
    </div>
  </section>
  <img class="home-wrapper__image" src="assets/LDR-1.jpg" alt="ldr" />
  <section class="home-wrapper__club-membership">
    <h1>Club membership</h1>
    <p>
      Lincoln & District Runners are keen to welcome runners to our wonderful
      club.
    </p>
    <p>
      The club offers a free session with the club so you can see how it goes
      before joining, but please Contact the club beforehand so we know you will
      be attending.
    </p>
    <p>
      We can also provide further information about what to expect. Please take
      a look at our Running Schedule to see where we are meeting on a particular
      club night. LDR endeavour to make the club runs fun and varied, and we
      regularly regroup during the runs to make sure no-one is left behind.
    </p>
    <p>
      Membership of LDR includes affiliation with England Athletics, members
      only running events; like our predictor run; lots of variety of structured
      and social runs, off-road and trail running, fell racing, club social
      events etc. The club are also involved with a number of local charities,
      such as our annual food bank run, and our club hosted Christmas Cross
      Country.
    </p>
  </section>
  <section class="home-wrapper__club-championship">
    <h1>Club championship 2023</h1>
    <p>
      The 2023 LDR Club Championship is now online. There are 21 races currently
      on the calendar, which include the LWAC 5K and Lincs Cross Country series,
      where completing all the races in a series earns a bonus 5 points.
    </p>
    <p>
      This year we also allocate points for the best ParkRun times on the year,
      and also for attendance at ParkRuns (either running or volunteering).
      There are also points for completing a marathon during the year.
    </p>
    <p>
      As usual, the best 10 results count towards the final championship
      standings. Where there is an overlap with the club track nights (for
      example the LWAC 5K series) you will have the option to run the distance
      on ther track and the time will still count as normal. Well done to
      everyone who took park in any of the rounds of the LDR 2022 Championship.
      We had over 75 members take part, which is a great acheivement.
    </p>
    <p>
      Click
      <a class="page-hyperlink" [routerLink]="['/championship-events']">here</a>
      to go to the dedicated 2023 Club Championship Page.
    </p>
  </section>
</div>
