$dark-blue: hsla(240, 29%, 16%, 1);
$white: hsla(0, 0%, 100%, 1);
$green: hsla(157, 62%, 27%, 1);
$input-placeholder: hsla(0, 2%, 76%, 1);
$faq-border-bottom: hsla(0, 12%, 76%, 1);
$grey-1: hsla(0, 1%, 43%, 1);

// Table
$table-row-grey: hsla(0, 0, 93, 1);
$table-row-border: hsla(213, 33, 33, 1);
