<div class="contact-wrapper">
  <h1 class="contact-wrapper__title">Contact</h1>

  <section class="contact-wrapper__form">
    <p class="contact-wrapper__form-description">
      We welcome all running and membership queries. You can contact us via the
      email link, or using the form below.
    </p>

    <div class="contact-wrapper__form-name-email">
      <div class="contact-wrapper__message-name">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name" />
      </div>
      <div class="contact-wrapper__message-email">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="you@gmail.co.uk"
        />
      </div>
    </div>
    <div class="contact-wrapper__form-message">
      <label for="message">Message</label>
      <textarea
        id="message"
        name="message"
        placeholder="Your message"
        rows="5"
      ></textarea>
    </div>
    <button class="contact-wrapper__button" type="submit">Send</button>
  </section>
</div>
