<div class="training-wrapper">
  <h1 class="training-wrapper__title">Training</h1>
  <section class="training-wrapper__sessions">
    <h2>Club training sessions</h2>
    <p>
      On club nights we have a variety of groups running different activities so
      you can choose whatever running session you like. Our range of groups and
      club nights include:
    </p>
    <ul>
      <li>
        Structured Training Session: Aimed at 5k, 10K or longer race training.
      </li>
      <li>
        Athletics Track night: the last Tuesday of each month we head to LSST
        Athletics Track.
      </li>
      <li>
        Social Groups: General running groups running between 5miles and 10K.
      </li>
      <li>Head torch run: During Autumn / Winter.</li>
      <li>
        Orienteering or special club events and races (i.e. club predictor run).
      </li>
    </ul>
  </section>
  <section class="training-wrapper__events">
    <h2>Events</h2>
    <p>Coming soon</p>
  </section>
  <section class="training-wrapper__schedule">
    <h2>Training schedule (dynamic date)</h2>
    <p>
      All runs start at 7:00pm, but please aim to arrive a few minutes earlier
      for any announcements, and to greet any new members.
    </p>
  </section>
</div>
