@import "utilities/_variables.scss";
@import "utilities/_functions.scss";

.training-wrapper {
  display: grid;
  grid-template-areas:
    "title"
    "sessions"
    "events"
    "schedule";
  row-gap: 3rem;
  column-gap: 2rem;

  @include respond-to("md") {
    grid-template-areas:
      "title title"
      "sessions events"
      "schedule schedule";
    grid-template-columns: repeat(2, 0.5fr);
  }

  .training-wrapper__title {
    grid-area: title;
    font-size: 2rem;
    color: $green;
    font-weight: 700;

    @include respond-to("sm") {
      font-size: 3rem;
    }
  }

  .training-wrapper__sessions {
    grid-area: sessions;

    ul {
      list-style-type: disc;
      padding-left: 1rem;

      li {
        margin: 0.2rem;
      }
    }
  }

  .training-wrapper__events {
    grid-area: events;
  }

  .training-wrapper__schedule {
    grid-area: schedule;

    input {
      min-width: 15rem;
      width: 35%;
      padding: 0.5rem;
      border: 1px solid $grey-1;
      border-radius: 8px;
      margin: 1rem 0;
      color: $grey-1;
      font-size: 1rem;
      outline: none;

      &::placeholder {
        color: $input-placeholder;
      }
    }

    .training-wrapper__table-container {
      display: flex;
      flex-flow: column;
      height: 40rem;
      overflow: auto;

      .table-mobile-label {
        width: 10rem;
        display: inline-block;
        font-weight: bold;
      }

      mat-table {
        mat-header-row {
          display: none;
          background-color: $white;

          mat-header-cell {
            padding: 0;
            border-bottom: 1px solid $table-row-border;
          }
        }

        mat-row {
          flex-direction: column;
          align-items: start;
          background-color: $table-row-grey;

          &:nth-child(even) {
            background-color: $table-row-grey;
          }

          &:nth-child(odd) {
            background-color: $white;
          }

          mat-cell {
            padding: 0.7rem 0.7rem 0.7rem 0;
            border-bottom: 1px solid $table-row-border;
          }
        }
      }

      @include respond-to("sm") {
        .table-mobile-label {
          display: none;
        }

        mat-table {
          mat-header-row {
            display: flex;
          }

          mat-row {
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}

h2 {
  color: $green;
  font-weight: 500;
  font-size: pxToRem(24px);
  margin-bottom: 1rem;
}
