@import "utilities/_variables.scss";
@import "utilities/_functions.scss";

.nav-wrapper {
  width: 100%;
  background-color: $dark-blue;
  padding: 1.2rem 1.5rem;

  ul {
    display: flex;
    justify-content: flex-end;

    li a {
      color: $white;
      font-size: 1rem;
      cursor: pointer;
      padding: 0 1rem;
      text-decoration: none;

      @include respond-to("sm") {
        font-size: 1.5rem;
      }
    }
  }
}
