@import "utilities/_variables.scss";
@import "utilities/_functions.scss";
@import "components/_buttons.scss";

h2 {
  color: $green;
  font-weight: 500;
  font-size: pxToRem(24px);
  margin-bottom: 1rem;
}

.bold {
  font-weight: 700;
}

.day-highlight {
  color: $green;
  margin: 1rem 0;
  display: block;
}

.join-wrapper {
  display: grid;
  grid-template-areas:
    "title"
    "image-area"
    "membership-benefits"
    "membership-fee"
    "club-nights"
    "faq";
  row-gap: 3rem;
  column-gap: 2rem;
  justify-items: center;

  @include respond-to("lg") {
    grid-template-areas:
      "title image-area"
      "membership-benefits image-area"
      "membership-fee club-nights"
      "faq club-nights";
    justify-items: baseline;
  }

  .join-wrapper__title {
    font-size: 2rem;
    color: $green;
    font-weight: 700;
    grid-area: title;
    justify-self: flex-start;

    @include respond-to("sm") {
      font-size: 3rem;
    }
  }

  .join-wrapper__benefits {
    grid-area: membership-benefits;
    width: 100%;

    ul {
      display: flex;
      flex-flow: column;
      font-size: 0.8rem;
      gap: 1rem;

      @include respond-to("md") {
        font-size: 1rem;
      }

      li {
        display: flex;
        align-items: center;

        img {
          margin-right: 1rem;
          width: 20px;
        }
      }
    }
  }

  .join-wrapper__image {
    grid-area: image-area;
    object-fit: cover;
    border-radius: 25px;

    @include respond-to("lg") {
      max-width: 80%;
    }
  }

  .join-wrapper__membership {
    grid-area: membership-fee;

    p:nth-child(3) {
      margin: 1rem 0;
    }

    button {
      margin-top: 1rem;
      @include blueButton;
    }
  }

  .join-wrapper__club-nights {
    grid-area: club-nights;

    h2 {
      margin-top: 1rem;
    }
  }

  .join-wrapper__faq {
    grid-area: faq;

    ul {
      display: flex;
      flex-flow: column;

      .join-wrapper__list-item {
        display: flex;
        align-items: center;
        flex-flow: column;
        border-bottom: 1px solid $faq-border-bottom;
        min-height: 3rem;

        .join-wrapper__list-item-click-row {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          h3 {
            font-weight: 500;
            font-size: pxToRem(16px);
          }

          button {
            border-radius: 50%;
            border: 1px solid black;
            background-color: transparent;
            min-width: 30px;
            height: 30px;
            padding: 8px;
            cursor: pointer;
          }
        }
      }

      p {
        font-size: pxToRem(10px);
        color: $grey-1;
      }
    }
  }
}
